[Desktop Entry]
Version=1.0
Type=Application
Name=Rebuild Desktop
Comment=
Exec=kill -9 0
Icon=xfce4-fsguard-plugin-warning
Path=
Terminal=false
StartupNotify=false
